firewall {
    group {
        network-group TOWERRULE
            network {{ tower_top_level_ipv4_dst }}
        }
    }
    name TOWERRULE
        rule 10 {
            action reject
            destination {
                group {
                    network-group TOWERRULE
                }
            }
            protocol all
        }
    }
}

interfaces {
    ethernet eth2 {
        firewall {
            local {
                name TOWERRULE
            }
        }
    }
    ethernet eth3 {
        firewall {
            local {
                name TOWERRULE
            }
        }
    }
}
